<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2012 Johns Hopkins University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:p="http://www.springframework.org/schema/p" 
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
                      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                      http://www.springframework.org/schema/context 
                      http://www.springframework.org/schema/context/spring-context-3.0.xsd">

  <bean id="filePathKeyAlgorithm" class="org.dataconservancy.dcs.util.KeyDigestPathAlgorithm">
    <constructor-arg value="MD5"/>
    <constructor-arg value="2"/>
    <constructor-arg value="2"/>
    <constructor-arg value=""/>    
  </bean>
  
  <bean id="metadataStore" class="org.dataconservancy.archive.impl.elm.fs.FsMetadataStore">
    <property name="filePathKeyAlgorithm" ref="filePathKeyAlgorithm"/>
    <property name="baseDir" value="${metadata.store.basedir}"/>
  </bean>

  <bean id="entityStore" class="org.dataconservancy.archive.impl.elm.fs.FsEntityStore">
    <property name="filePathKeyAlgorithm" ref="filePathKeyAlgorithm"/>
    <property name="baseDir" value="${entity.store.basedir}"/>
  </bean>
  
  <bean id="archiveStore" class="org.dataconservancy.archive.impl.elm.ElmArchiveStore" init-method="init">
    <property name="metadataStore" ref="metadataStore"/>
    <property name="entityStore" ref="entityStore"/>
  </bean>
  
  <bean id="solrServer" class="org.apache.solr.client.solrj.embedded.EmbeddedSolrServer">
    <constructor-arg>
      <bean class="org.apache.solr.core.CoreContainer">
        <constructor-arg value="${solr.solr.home}"/>
        <constructor-arg value="${solr.solr.config}"/>
      </bean>              
    </constructor-arg>
    <constructor-arg value="${solr.containername}"/>    
  </bean>  
  
  <bean id="dcsQueryService" class="org.dataconservancy.dcs.query.dcpsolr.DcsDataModelQueryService">
  	<constructor-arg>
  	  <bean class="org.dataconservancy.dcs.index.dcpsolr.SolrService">
  	    <constructor-arg ref="solrServer"/>
	    </bean>
	  </constructor-arg>
  </bean>

  <bean id="remoteDcsConnectorConfig" class="org.dataconservancy.access.connector.DcsConnectorConfig">
    <property name="host" value="${remote.access.host}"/>
    <property name="port" value="${remote.access.port}"/>
    <property name="scheme" value="${remote.access.scheme}"/>
    <property name="contextPath" value="${remote.access.contextPath}"/>
  </bean>

  <bean id="localDcsConnectorConfig" class="org.dataconservancy.access.connector.DcsConnectorConfig">
    <property name="host" value="${local.access.host}"/>
    <property name="port" value="${local.access.port}"/>
    <property name="scheme" value="${local.access.scheme}"/>
    <property name="contextPath" value="${local.access.contextPath}"/>
  </bean>

  <bean id="localAccessApiConfig" class="org.dataconservancy.access.connector.HttpAccessApiConfig">
    <property name="host" value="${local.access.host}"/>
    <property name="port" value="${local.access.port}"/>
    <property name="scheme" value="${local.access.scheme}"/>
    <property name="contextPath" value="${local.access.contextPath}"/>
    <property name="datastreamEndpoint" value="/datastream"/>
    <property name="entityEndpoint" value="/entity"/>
    <property name="extantFileEntity" value="${local.file.entity.extant}"/>
    <property name="knownEntitiesBasedir" value="${local.known.entities}"/>
    <property name="nonExtantFileEntity" value="${local.file.entity.nonextant}"/>
    <property name="queryEndpoint" value="/query"/>
  </bean>

  <bean id="remoteAccessApiConfig" class="org.dataconservancy.access.connector.HttpAccessApiConfig">
    <property name="host" value="${remote.access.host}"/>
    <property name="port" value="${remote.access.port}"/>
    <property name="scheme" value="${remote.access.scheme}"/>
    <property name="contextPath" value="${remote.access.contextPath}"/>
    <property name="datastreamEndpoint" value="/datastream"/>
    <property name="entityEndpoint" value="/entity"/>
    <property name="extantFileEntity" value="${remote.file.entity.extant}"/>
    <property name="knownEntitiesBasedir" value="${remote.known.entities}"/>
    <property name="nonExtantFileEntity" value="${remote.file.entity.nonextant}"/>
    <property name="queryEndpoint" value="/query"/>
  </bean>
  

  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
      <list>
        <value>classpath:/dcs-local-http-api.properties</value>
        <value>classpath:/dcs-remote-http-api.properties</value>
        <value>classpath:/dcs-elm-archive.properties</value>
        <value>classpath:/dcs-solr.properties</value>
      </list>
    </property>
    <!-- Allow system properties to override property values -->
    <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
    <property name="ignoreUnresolvablePlaceholders" value="true"/>
  </bean>
    
</beans>