##
## Copyright 2012 Johns Hopkins University
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##    http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.
##
##
##
## Email Exception Velocity Template
##
## Edit this template to control what
## content will be sent to administrators
## when exceptions occur.
##
## The objects provided to this template are
##   1) An instance of org.dataconservancy.ui.eventing.api.EventContext
##      bound to the name 'eventContext'
##   2) An instance of org.dataconservancy.ui.eventing.api.Event,
##      bound to the name 'event'.
##   3) An instance of org.dataconservancy.ui.model.Person, bound to
##      the name 'person'.
##   4) A string containing the full URL of the Data Conservancy instance,
##      bound to 'instanceHomeLink'
##
$person.firstNames,

A deposit ticket has been filed for your data set, $package.packageFileName. Deposit is not instantaneous, so there
may be some delay until the process is completed. You can check on the status of the deposit by accessing the
following URL: $depositStatusLink.
