##
## Copyright 2013 Johns Hopkins University
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##    http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.
##
##
##
## Password Reset Velocity Template
##
## Edit this template to control what
## message will be sent when a user
## requests a password reset
##
## The objects provided to this template are
##   1) An instance of org.dataconservancy.ui.model.Person, bound to
##      the name 'person'.
##   2) A string containing the full URL where the user can go to
##      reset her password, bound to 'passwordResetLink'
##   3) A string containing the name of the specific Data Conservancy instance,
##      bound to 'instanceName
##   4) A string containing the value, in hours, of the length of time the request will remain valid
##      bound to 'windowLength'

$person.firstNames,

 Please click on the link below to reset the password for your account on $instanceName:

 $passwordResetLink

This link will be valid for $windowLength hours. After that time, the above link will be disabled, and you will have to submit another request using the "Forgot your password?" link on the login page in order to change your password.

If you did not submit a request that your password be reset, you can safely ignore this email. It is likely that another user has mistakenly attempted to log in using your email.  In that case, as long as you do not click the above link, no action will be taken and your account will remain secure.

